 <div id="navigation" class="nav" role="navigation">
  <nav > <!-- navigation -->
    <a href="/" title="click for Overview">Overview</a> |
    <a href="/download/" title="click to get Rails">Download</a> |
    <a href="/deploy/" title="click for deploy">Deploy</a> |
    <a href="https://github.com/rails/rails/issues" title="click for issues">Bugs/Patches</a> |
    <a href="/screencasts/" title="click for screencasts">Screencasts</a> |
    <a href="/documentation/" title="click for documentation">Documentation</a> |
    <a href="/community/" title="click for join to the community">Community</a> |
    <a href="http://weblog.rubyonrails.org" title="click to go to the blog">Blog</a>
  </nav>
</div>