 <div id="navigation" class="nav" aria-hidden="true">
  <nav role="navigation"> <!-- navigation -->
    <a href="/" role="link" title="click for overview">Overview</a> |
    <a href="/download/" role="link" title="click for downloads">Download</a> |
    <a href="/deploy/" role="link" title="click for Deploy">Deploy</a> |
    <a href="https://github.com/rails/rails/issues" role="link" title="click for Bugs and Patches">Bugs/Patches</a> |
    <a href="/screencasts/" role="link" title="click for Screencats">Screencasts</a> |
    <a href="/documentation/" role="link" title="click for Documentation">Documentation</a> |
    <a href="/community/" role="link" title="Community">Community</a> |
    <a href="http://weblog.rubyonrails.org" role="link" title="Blog">Blog</a>
  </nav>
</div>